.h1 {
  font-size: 4rem;
  color: #95989A;
}

.p {
  color: #895EA8;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.Link:link,
.Link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #BABABA;
}

.Link:hover {
    color: #895EA8;
}

.Selected {
  color: #68308C !important;
  font-weight: bold;
}