.header {
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  box-shadow: 0 0px 1rem grey;
  height: 7rem;;
}

.header__logo {
    color: #68308C;
}

.header__logo span:last-child {
    color: #895EA8;
}

.header__nav {
  width: 15%;
}

.header__list {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-evenly;
}