.header {
    height: 7rem;
    box-shadow: 0 0px 1rem grey;
}

.header__logo {
    color: #68308C;
    display: inline-block;
}

.header__logo span:last-child {
    color: #895EA8;
}

.logo__name {
    margin: 0;
    padding: 0;
    line-height: 7rem;
    font-size: 2.5rem;
}

.header__content {
    width: 80%;
    margin: 0 auto;
}

.navigation {
    float: right;
    line-height: 7rem;
}

.navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation__item {
    float: left;
    margin-left: 1.5rem;
}


.navigation__link:link,
.navigation__link:visited {
    text-decoration: none;
    font-size: 1.2rem;
    color: #BABABA;
}

.navigation__link:hover,
.navigation__link:active {
    color: #895EA8;
}